.about-container {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
}

.about-content {
    width: 80%;
  max-width: 1000px;
  background-color: var(--gray);
  padding: 3rem;
  border-radius: 16px;
}

.about-content h1 {
  margin-top: 0;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.7;
  margin-bottom: 1.2rem;
}

.about-content h2 {
  margin-top: 2.5rem;
}

.about-content ol {
  padding-left: 1.5rem;
}
