:root {
  --pink: #EDAFB8;
  --peach: #F7E1D7;
  --gray: #DEDBD2;
  --green: #B0C4B1;
  --dark: #4A5759;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--peach);
  color: var(--dark);

  font-size: 20px;   /* ← was effectively ~16px */
  line-height: 1.6;
}

